---
import { getData } from "@/functions/data";
import type { Slider } from "@/types/Data"
const {slider} = await getData();
---

<section>
  <div class="swiper swiper-header h-full md:h-[65vh]">
    <!-- Wrapper adicional requerido -->
    <div class="swiper-wrapper">
      <!-- Los slides -->
      {
        slider.map((slide: Slider) => (
          <div class="swiper-slide overflow-hidden relative bg-black">
            <a href={`${slide.url}`} target="_blank"class="w-full h-full">
              <picture>
                <source
                  srcset={`/images/banners/${slide.image}.webp`}
                  type="image/webp"
                />
                <img
                  src={`/images/banners/${slide.image}.avif`}
                  alt={`${slide.title}`}
                  class="h-full mx-auto object-cover"
                />
              </picture>
            </a>
          </div>
        ))
      }
    </div>
    <!-- Si necesitamos botones de navegación -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>

<style>
  .swiper-button-prev,
  .swiper-button-next {
    background-image: url("/images/arrow.svg");
    background-repeat: no-repeat;
    background-size: 27px auto;
    background-position: center;
    background-color: white;
    width: 60px;
    height: 100px;
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    content: "";
  }
  .swiper-button-prev {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .swiper-button-next {
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
  }

  @media (max-width: 768px) {
    .swiper-button-prev,
    .swiper-button-next {
      background-size: 17px auto;
      background-color: #ffffffba;
      width: 25px;
      height: 55px;
    }
  }
</style>

<script>
  import Swiper from "swiper";
  import "swiper/css";
  import { Navigation, Autoplay, EffectFade } from "swiper/modules";
  import "swiper/css/effect-fade";
  import "swiper/css/navigation";

  new Swiper(".swiper-header", {
    modules: [Navigation, Autoplay, EffectFade], // definir los módulos a usar
    loop: true, // definir si los slides estarán en bucle
    effect: "fade",
    autoplay: {
      delay: 7000,
    },
    slidesPerView: 1, // agregar número de slides para la pantalla
    navigation: {
      // definir botones next y prev para el módulo Navigation
      prevEl: ".swiper-button-prev",
      nextEl: ".swiper-button-next",
    },
  });
</script>
