---
import CardTeam from "@/components/CardTeam.astro";
interface Props {
  team: Array<{
    nombre?: string;
    cargo?: string;
    imagen?: string;
    orden?: number;
    slug: string;
  }>;
  page: string;
}
const { team, page } = Astro.props;
const teamOrdenado = team.sort((a, b) => a.orden - b.orden)
---

<section class="pb-28 bg-secondary">
  <div class="max-w-7xl mx-auto px-5 grid grid-cols-1 md:grid-cols-3 gap-7">
    {
      teamOrdenado.map((post) => (
        <CardTeam
          title={post.nombre}
          subtitle={post.cargo}
          image={post.imagen}
          url={`/${page}/${post.slug}`}
        />
      ))
    }
  </div>
</section>
