---
import Quotation from "@/icons/Quotation.astro";
import Title from "@/components/Title.astro";
import { testimonials } from "@info";
---

<section class="bg-secondary py-10 md:py-28">
  <div class="max-w-7xl mx-auto px-5 relative">
    <Title
      title=""
      subtitle="Testimonios"
      align="text-center"
    />
    <div class="swiper swiper-testimonial mt-10">
      <div class="swiper-wrapper">
        {
          testimonials.map((testimonial) => (
            <div class="swiper-slide">
              <div class="flex flex-col justify-center items-center">
                <Quotation class="fill-primary w-7" />
                <p class="font-bold text-center text-lg md:text-2xl text-zinc-600 max-w-4xl mx-auto leading-relaxed mt-7">
                  {testimonial.title}
                </p>
                <p class="text-center text-base md:text-2xl text-zinc-600 font-light max-w-4xl mx-auto leading-relaxed mt-1">
                  {testimonial.text}
                </p>
                <h3 class="text-center text-base md:text-lg font-bold mt-7 bg-primary text-white px-2 py-1 rounded-md">
                  {testimonial.name}
                </h3>
                <p class="text-center text-sm md:text-base text-zinc-400 mt-1">
                  {testimonial.role}
                </p>
                <img src={`/images/iconos/${testimonial.country}.svg`} alt={`Bandera de ${testimonial.country}`} class="w-14 mt-4">
              </div>
            </div>
          ))
        }
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>

<style>
  .swiper-slide {
    overflow: hidden;
  }
  .swiper-button-prev,
  .swiper-button-next {
    background-image: url("/images/arrow.svg");
    background-repeat: no-repeat;
    background-size: 27px auto;
    background-position: center;
    width: 60px;
    height: 60px;
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    content: "";
  }
  .swiper-button-prev {
    left: 0;
  }
  .swiper-button-next {
    right: 0;
    transform: rotate(180deg);
  }
</style>

<script>
  import Swiper from "swiper";
  import "swiper/css";
  import { Navigation, Autoplay } from "swiper/modules";
  import "swiper/css/navigation";

  new Swiper(".swiper-testimonial", {
    modules: [Navigation, Autoplay],
    loop: true,
    autoplay: {
      delay: 6000,
    },
    slidesPerView: 1,
    navigation: {
      prevEl: ".swiper-button-prev",
      nextEl: ".swiper-button-next",
    },
  });
</script>
