---
import Facebook from "@/icons/Facebook.astro";
import Instagram from "@/icons/Instagram.astro";
import Linkedin from "@/icons/Linkedin.astro";
import Whatsapp from "@/icons/Whatsapp.astro";
import Phone from "@/icons/Phone.astro";
import Map from "@/icons/Map.astro";
import { topNav } from "@info";
const { phone, address, profiles } = topNav;
const SOCIAL_ICONS = {
  Facebook,
  Instagram,
  Linkedin,
  Whatsapp
}
---

<section class="bg-black">
  <div class="max-w-7xl mx-auto px-5 py-3 flex justify-between items-center">
    <ul class="inline-flex text-[13px] text-[#969696] gap-x-8">
      <li class="flex items-center gap-x-1">
        <Phone class="w-5" />
        <a href="tel:" class="">{phone}</a>
      </li>
      <li class="flex items-center gap-x-1">
        <Map class="w-5" />
        {address}
      </li>
    </ul>
    <ul class="inline-flex text-white/90 gap-x-7">
    {
        profiles.map(({ network, url, username }) => {
            const Icon = SOCIAL_ICONS[network]
            return (
                <li class="">
                    <a
                        href={url}
                        title={`Visitar el perfil de ${username} en ${network}`}
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <Icon class="w-4" />
                    </a>
                </li>
            )
        })
    }
    </ul>
  </div>
</section>
