---
import FormContact from "@/components/FormContact.astro";
import HeaderPage from "@/components/sections/HeaderPage.astro";
// import Progress from "@/components/Progress.astro";
// import SocialTeam from "@/components/SocialTeam.astro";
import Cellphone from "@/icons/Cellphone.astro";
import Mail from "@/icons/Mail.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import { topNav } from "@info";

export async function getStaticPaths() {
  const equipoEntries = await getCollection("equipo");
  return equipoEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

---

<Layout title={`${entry.data.name} | Stratega Consultorìa & Capacitaciòn`}>
  <HeaderPage title={entry.data.name} />
  <section class="bg-secondary">
    <div class="max-w-7xl mx-auto px-5">
      <h3
        class="uppercase font-open-sans font-light text-sm tracking-wider mb-10"
      >
        {entry.data.job}
      </h3>
    </div>
    <div
      class="grid grid-cols-1 md:grid-cols-2 max-w-7xl mx-auto px-5 gap-y-10 md:gap-x-10 pb-28"
    >
      <div class="flex flex-col gap-y-5">
        <img
          src={`/images/${entry.data.image}`}
          alt={`Foto de ${entry.data.name}`}
          class="w-full"
        />
        <!-- <SocialTeam
          whatsapp={"https://wa.link/pcdh5q"}
          section="team"
        /> -->
      </div>
      <div>
        <!-- <div class="flex flex-col gap-y-5">
          {
            entry.data.skills.map((skill: any) => (
              <Progress
                title={skill.name}
                porcent={skill.porcent}
                description={skill.description}
              />
            ))
          }
        </div> -->
        <div class="relative">
          <div
            class="bg-white px-5 md:px-14 py-12 md:absolute md:right-0 md:top-10 md:min-w-[700px] w-full mt-8 md:mt-0"
          >
            <Content />
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
