---
import { supabase } from "@/functions/supabase";
import HeaderPage from "@/components/sections/HeaderPage.astro";
import Layout from "@/layouts/Layout.astro";

export async function getStaticPaths() {
  const { data, error } = await supabase.from('equipo').select('slug').eq('tipo',1);
  if(error) return console.log(error);
  const slugEquipo = data.map(item => ({
    params: {
      slug: item.slug
    }
  }));
  return slugEquipo;
}

const { slug } = Astro.params;

const { data: dataEquipo, error: errorEquipo } = await supabase.from('equipo').select('*').eq('slug',slug).single();
if(errorEquipo) return console.log(errorEquipo);
const { nombre, cargo, imagen, cuerpo } = dataEquipo;

---

<Layout title={`${nombre} | Stratega Consultoría & Capacitación`}>
  <HeaderPage title={nombre} />
  <section class="bg-secondary">
    <div class="max-w-7xl mx-auto px-5">
      <h3
        class="uppercase font-open-sans font-light text-sm tracking-wider mb-10"
      >
        {cargo}
      </h3>
    </div>
    <div
      class="grid grid-cols-1 md:grid-cols-2 max-w-7xl mx-auto px-5 gap-y-10 md:gap-x-10 pb-28"
    >
      <div class="flex flex-col gap-y-5">
        <img
          src={imagen}
          alt={`Foto de ${nombre}`}
          class="w-full"
        />
      </div>
      <div>
        <div class="relative">
          <div
            class="bg-white px-5 md:px-14 py-12 md:absolute md:right-0 md:top-10 md:min-w-[700px] w-full mt-8 md:mt-0"
          >
            <!-- <Content /> -->
            <div class="font-light tracking-wider columns-1 md:columns-2 text-zinc-700 container-bio" set:html={cuerpo}>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>